{% extends 'wine_app/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    {% csrf_token %}
    <a id="shop-ref" hidden="true" href="{% url 'shop' %}"></a>
    <link rel='stylesheet' href="{% static 'wine_app/css/build/bundle.css' %}">
	<script defer src="{% static 'wine_app/js/build/bundle.js' %}"></script>
    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

      <div class="site-wrap">
          {% include 'wine_app/navbar.html' %}

        <div class="site-section mt-5">
          <div class="container">

            <div class="row mb-5">
              <div class="col-12 section-title text-center mb-5">
                <h2 class="d-block">{% trans 'OurProducts' %}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, perspiciatis!</p>
              </div>
            </div>
              <div id="wine-list"></div>
<!--            <div class="row">-->
<!--                {% for wine in wines %}-->
<!--                    <div class="col-lg-4 mb-5 col-md-6">-->
<!--                        <div class="wine_v_1 text-center pb-4">-->
<!--                            <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="{{ wine.img }}" alt="Image" class="img-fluid"></a>-->
<!--                            <div>-->
<!--                                <h3 class="heading mb-1"><a href="#">{{ wine.title }}</a></h3>-->
<!--                                <span class="price">{{ wine.price }}</span>-->
<!--                            </div>-->
<!--                            <div class="wine-actions">-->
<!--                                <h3 class="heading-2"><a href="#">{{ wine.title }}</a></h3>-->
<!--                                {% if wine.sale_price != 0 %}-->
<!--                                    <span class="price d-block"><del>{{ wine.sale_price }}</del> {{ wine.price }}</span>-->
<!--                                {% else %}-->
<!--                                    <span class="price d-block">{{ wine.price }}</span>-->
<!--                                {% endif %}-->
<!--                                <div class="rating">-->
<!--                                    <span class="icon-star"></span>-->
<!--                                    <span class="icon-star"></span>-->
<!--                                    <span class="icon-star"></span>-->
<!--                                    <span class="icon-star"></span>-->
<!--                                    <span class="icon-star-o"></span>-->
<!--                                </div>-->
<!--                                <a href="cart.html" class="btn add"><span class="icon-shopping-bag mr-3"></span>{% trans 'AddToCart' %}</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--            <nav aria-label="Page navigation example">-->
<!--                <ul class="pagination justify-content-center">-->
<!--                    {% if wines.has_previous %}-->
<!--                        <li class="page-item"><a class="page-link" href="{% url 'shop' %}{{ wines.previous_page_number }}">Previous</a></li>-->
<!--                    {% endif %}-->
<!--                    {% for _ in wines.num_pages_tuple %}-->
<!--                        {% if forloop.counter != wines.number %}-->
<!--                            <li class="page-item"><a class="page-link" href="{% url 'shop' %}{{forloop.counter}}">{{ forloop.counter }}</a></li>-->
<!--                        {% else %}-->
<!--                            <li class="page-item active"><span class="page-link">{{ forloop.counter }}</span></li>-->
<!--                        {% endif %}-->
<!--                    {% endfor %}-->
<!--                    {% if wines.has_next %}-->
<!--                        <li class="page-item"><a class="page-link" href="{% url 'shop' %}{{ wines.next_page_number }}">Next</a></li>-->
<!--                    {% endif %}-->
<!--                </ul>-->
<!--            </nav>-->
          </div>
        </div>

        <div class="hero-2" style="background-image: url({% static 'wine_app/images/hero_2.jpg' %});">
         <div class="container">
            <div class="row justify-content-center text-center align-items-center">
              <div class="col-md-8">
                <span class="sub-title">{% trans 'Welcome' %}</span>
                <h2>{% trans 'WinesForEveryone' %}</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="site-section bg-light">
          <div class="container">
            <div class="owl-carousel owl-slide-3 owl-slide">

              <blockquote class="testimony">
                <img src="{% static 'wine_app/images/person_1.jpg' %}" alt="Image">
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero sapiente beatae, nemo quasi quo neque consequatur rem porro reprehenderit, a dignissimos unde ut enim fugiat deleniti quae placeat in cumque?&rdquo;</p>
                <p class="small text-primary">&mdash; Collin Miller</p>
              </blockquote>
              <blockquote class="testimony">
                <img src="{% static 'wine_app/images/person_2.jpg' %}" alt="Image">
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero sapiente beatae, nemo quasi quo neque consequatur rem porro reprehenderit, a dignissimos unde ut enim fugiat deleniti quae placeat in cumque?&rdquo;</p>
                <p class="small text-primary">&mdash; Harley Perkins</p>
              </blockquote>
              <blockquote class="testimony">
                <img src="{% static 'wine_app/images/person_3.jpg' %}" alt="Image">
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero sapiente beatae, nemo quasi quo neque consequatur rem porro reprehenderit, a dignissimos unde ut enim fugiat deleniti quae placeat in cumque?&rdquo;</p>
                <p class="small text-primary">&mdash; Levi Morris</p>
              </blockquote>
              <blockquote class="testimony">
                <img src="{% static 'wine_app/images/person_1.jpg' %}" alt="Image">
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero sapiente beatae, nemo quasi quo neque consequatur rem porro reprehenderit, a dignissimos unde ut enim fugiat deleniti quae placeat in cumque?&rdquo;</p>
                <p class="small text-primary">&mdash; Allie Smith</p>
              </blockquote>

            </div>
          </div>
        </div>
        <div class="footer">
        </div>

      </div>

    </body>
{% endblock %}